@font-face {
  font-family: 'geosanslight';
  src: url("fonts/GeosansLight.ttf");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: geosanslight,'Open Sans', Helvetica, Verdana, Arial, sans-serif;
  transition: background-color 10s ease-in-out;
}
.clock {
  font-size: 100px;
  font-weight: 300;
  margin-bottom: 0;
}
main {
  color: white;
  text-align: center;
  vertical-align: middle;
}
.clock sub {
  vertical-align: baseline;
}