@font-face {
  font-family: 'geosanslight';
  src: url("fonts/GeosansLight.ttf");
  font-weight: normal;
  font-style: normal;
}
header {
  -webkit-app-region: drag;
  height: 30px;
  width: 100vw;
  background-color: rgba(0, 0, 0, .1);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;
}
header li {
  display: inline-block;
}
header button {
  -webkit-app-region: no-drag;
  padding: 0;
  transition: background-color 0.2s ease-out;
  border: none;
  background-color: transparent;
  background-image: none;
  height: 30px;
  width: 30px;
}
header button:hover {
  background-color: rgba(255, 255, 255, .1);
}
header button:active {
  background-color: rgba(255, 255, 255, .2);
}
header .close:hover {
  background-color: #f11;
}
header .close:active {
  background-color: #f33;
}
body {
  font-family: geosanslight,'Open Sans', Helvetica, Verdana, Arial, sans-serif;
  text-align: center;
}
body.transition {
  transition: background-color 10s ease-in-out;
}
.clock {
  font-size: 100px;
  font-weight: 300;
  margin-bottom: 0;
}
main {
  vertical-align: middle;
}
.clock sub {
  vertical-align: baseline;
}
.dropdown {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding-top: 30px;
  border-bottom: 1px solid #ccc;
}
.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0 0 30px;
  display: inline-block;
  min-width: 50vw;
}
.dropdown li {
  padding: 5px;
}